

	  	<% @questions.reverse.each do |q| %>

	  		<span class='questionTitle'><a href='/questions/<%= q.id %>'><strong><%= q.content %></strong></a></span>

	  		<span class='pull-right time'>Asked about <%= time_ago_in_words(q.created_at) %> ago</span><br>

			<ul>
				<% q.question_options.each do |o| %>
				<li>
					<span><%= o.option %></span>

					<% end %>	
				</li><br>

				<button type="button" class="btn btn-primary">Sign In to Vote!<a href='/sessions'></a></button>

			</ul><hr>
		<% end %>