// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pieChart {
	height: 100%;
	min-width: 500px;
}

.userInfo {
	text-align: center;
}

.title {
	text-align: center;
	font-family: 'Poiret One', cursive;
}

.questionTitle {
	font-family: 'Hind', sans-serif;
}

.userInfo {
	font-family: 'Poiret One', cursive;
}

p {
	font-family: 'Hind', sans-serif;
}

#brand {

}

#footer {
	text-align: center;
}