// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pieChart {
	height: 100%;
	min-width: 500px;
}

.userInfo {
	text-align: center;
	color: gray;
}

.title {
	text-align: center;
	font-family: 'Poiret One', cursive;
	color: gray;
}

.questionTitle {
	font-size: 28px;
	font-family: 'Poiret One', cursive;
	color: gray;
}

.questionTitle:hover {
	color: #00aced;
}

.userInfo {
	font-family: 'Poiret One', cursive;
}

p {
	font-family: 'Poiret One', cursive;
}

.questionContainer {
	display: inline-block;
}

#brand {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font: 15px;
}

.footer {
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}

.sign-in {
	float: bottom;
}

/*.button_to {
	color: red;
}*/

.time {
	vertical-align: bottom;
	color: #00aced;
}

.option {
	color: gray;
	font-size: 17px;
}

.color-scheme-A {
	background-color: #00aced;
}

.nav-text {
	color: white;
}

/*  Hover function on Nav Bar  */
.title .nav-text:hover {
	background-color: #0084b4;
	color: white;
}


.thumb {
	color: white;
}

.thumb:hover {
	background-color: #0084b4;
	color: white;
}

.btn.btn-default:hover {
	background-color: #00aced;
	color: white;
}
