// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pieChart {
	height: 100%;
	min-width: 500px;
}

.userInfo {
	text-align: center;
}

.title {
	text-align: center;
	font-family: 'Poiret One', cursive;
}

.questionTitle {
	font-size: 25px;
	font-family: 'Poiret One', cursive;

}

.userInfo {
	font-family: 'Poiret One', cursive;
}

p {
	font-family: 'Poiret One', cursive;
}

.questionContainer {
	display: inline-block;
}

#brand {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font: 15px;
}

.footer {
	horizontal-align: center;
	vertical-align: center;
}

.button_to {
	color: red;
}

.time {
	vertical-align: bottom;
}
