<%= render "partials/navbar" %>

<div class='container'>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">

	  		<h3 class='userInfo'>Your questions so far:</h3><br><hr>

	  					<% @user.questions.reverse.each do |o| %>

	  							<span><a href='/questions/<%= o.id %>'><%= o.content %></a></span>
								<span class='pull-right'>You posted this about <%= time_ago_in_words(o.created_at) %> ago</span>

								<% o.question_options.each do |z| %>

									<li>
										<span><%= z.option %></span> <span class='badge pull-right'><%= z.get_upvotes.size %> Votes</span>
										<!-- Need to format the vote count for each -->
									</li>

								<% end %>	

	  						<hr>
	  			<% end %>
	  		
	  <div class="col-md-2"></div>

	  </div>
	</div>
</div>














<%= render "partials/footer" %>
