<%= render "partials/navbar" %>

<div class='container'>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">

	  		<h3 class='userInfo'>Hi there, <%= @user.firstname %>, your questions so far:</h3><br><hr>

	  					<% @user.questions.each do |o| %>

	  						<h5><%= o.content %></h5><br>
							<p>You posted this about <%= time_ago_in_words(o.created_at) %> ago</p>


							<!-- TO DO -->

							<!-- hyperlink each question title -->
							<!-- Total number of votes cast??? -->
							<!-- list question optiosn??? -->
							<!-- Pie charts - likely tricky, need 2 x each loops -->
							
	  						<hr>
	  			
							


	  			<% end %>
	  		
	  <div class="col-md-2"></div>

	  </div>
	</div>
</div>














<%= render "partials/footer" %>
