<%= render "partials/navbar" %>

<div class='container'>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">

	  		<h3 class='userInfo'>Your Questions So Far:</h3><br><hr>

	  					<% @user.questions.reverse.each do |o| %>

	  							<span><a href='/questions/<%= o.id %>' class='questionTitle'><%= o.content %></a></span>

								<% o.question_options.each do |z| %>

									<li class='option'>
										<span class='option'><%= z.option %></span> <span class='label label-info pull-right'><%= z.get_upvotes.size %> Votes</span>
										<!-- Need to format the vote count for each -->
									</li>

								<% end %>	

	  						<hr>
	  			<% end %>


	  			<!-- <span class="label label-info">Info</span> -->
	  		
	  <div class="col-md-2"></div>

	  </div>
	</div>
</div>














<%= render "partials/footer" %>
