<%= render "partials/navbar" %>


<div class='container'>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	  	<% @questions.each do |q| %>

	  		<span class='questionTitle'><a href='/questions/<%= q.id %>'><%= q.content %></a></span>
	  		<span class='pull-right'>Asked about <%= time_ago_in_words(q.created_at) %> ago</span><br>

			<span class='pull-right'>Vote Now!</span><br>

			<ul>
				<% q.question_options.each do |o| %>
				<li>
					<span><%= o.option %></span>
					<span class='pull-right'><%= button_to upvote_path(o), method: :put, :class => 'btn btn-default' do %></span>

					<% end %>	

				</li><br>

				<% end %>
			</ul><hr>
		<% end %>
	  	</div>
	</div>
</div>



<%= render "partials/footer" %>



