<%= render "partials/navbar" %>


<div class='container'>
	<div class="row">
	  <div class="col-md-4"></div>
	  <div class="col-md-4">
	  	<%= @questions.reverse.each do |q| %>
	  		<h3><a href='/questions/<%= q.id %>'><%= q.content %></a></h3>
			<p><%= time_ago_in_words(q.created_at) %></p>
			<ul><% q.question_options.each do |o| %>
			
				<li><%= o.option %><button class="btn btn-default" type="button">Vote!</button></li>

				<% end %></ul>
			<% end %>
	  </div>
	  <div class="col-md-4"></div>
	</div>
</div>



<%= render "partials/footer" %>



