<%= render "partials/navbar" %>


<div class='container'>
	<div class="row">
	  <div class="col-md-4"></div>
	  <div class="col-md-4">

	  <h1 class='title'>What would you like to ask?</h1>

	  	  <h4 class='title'>You can provide upto 4 answer options...</h4><br>

			<%= form_for @question, url: {action: 'create'} do |f| %>	

				<%= f.hidden_field :user_id, :value => @current_user.id %>
				<!-- Sends current_user.id in hidden field via params  -->

				  <div class="form-group">
				    <%= f.text_field :content, placeholder: 'Question Title', class: "form-control" %>
				  </div>

				<%= f.fields_for :question_options do |builder| %>
				  <div class="form-group">
				    <%= builder.text_field :option, placeholder: 'Answer Option (optional)', class: "form-control" %>
				  </div>
				<% end %>
				<%= f.submit %>
			<% end %>
	  </div>
	  <div class="col-md-4"></div>
	</div>
</div>

