<%= render "partials/navbar" %>

<div class='container'>
	<div class="row">
	  <div class="col-md-4"></div>
	  <div class="col-md-4"> 

			<h5><%= @question.content %></h5>
			<p><% @question.question_options.each do |o| %>

				<li>
					<%= o.option %>
					<span class='badge'><%= o.get_upvotes.size %></span><br>					
				</li>
				<% end %>

				<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
					<div class='pull-left' width= "500px"><%= pie_chart @array_of_arrays, id: 'pieChart', width: "500px"%></div>

	  </div>
	  <div class="col-md-4"></div>
	</div>
</div>



<%= render "partials/footer" %>